
/**
 * @file
 * Main stylesheet file.
 *
 * Created by: Topsitemakers
 * http://www.topsitemakers.com/
 */


/*******************************************************************************
 * Main elements
 ******************************************************************************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  cursor: pointer;
}
img {
  vertical-align: top;
}
/* Main elements end */


/*******************************************************************************
 * Various other styles
 ******************************************************************************/

/* Various other styles end */
